.main-header-dev {
    background-color: rgb(173, 170, 167);
    display: flex;
    align-items: center;
    margin-left: 0px;
    padding: 30px;
   
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.header-left-side{
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 100px;
}
.header-right-side{
    display: flex;
    width: 50%;
    height: auto;
    justify-content: right;
    align-content: center;
    margin-right: 150px;
}

.header-left-side .logo img{
    width: 80px;
    height: auto;
    margin-right: 60px;
}

.header-left-side .input{
    cursor: text;
    border: 1px solid;
    border-radius: 5px;
}

.page-title-dev{
     font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}